{% extends 'base.html' %}

{% block title %}Lista de Testes{% endblock %}

{% load static %}  

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/test_list.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="test-list">
        <h3 style="text-align: center;">Testes Realizados</h3>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Data da avaliação</th>
                </tr>
            </thead>
            <tbody>
                {% for questionnaire, evaluation_date in evaluation_data %}
                <tr>
                    <td>{{ questionnaire.id }}</td>
                    <td>
                        <a href="{% url 'test_detail' questionnaire.pk %}">
                            {{ evaluation_date|date:'d/m/Y' }}
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2">Nenhum teste encontrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <div class="button-container">
            <a href="{% url 'new_test' %}" class="btn">Novo Teste</a>
        </div>
    </div>
    <div class="card">
        {{ graph_html|safe }}
    </div>
</div>
{% endblock %}
