{% extends "base.html" %}
{% load static %}  

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/register.css' %}">
{% endblock %}

{% block content %}
<div class="card">
    <form method="post">
        {% csrf_token %}
        
        {% if user_form.non_field_errors %}
            <div class="error">
                {% for error in user_form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <div class="form_group">
            <label for="{{ user_form.full_name.id_for_label }}">{{ user_form.full_name.label }}</label>
            {{ user_form.full_name }}
            {% if user_form.full_name.errors %}
                <div class="error">
                    {% for error in user_form.full_name.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form_group">
            <label for="{{ user_form.date_of_birth.id_for_label }}">{{ user_form.date_of_birth.label }}</label>
            {{ user_form.date_of_birth }}
            {% if user_form.date_of_birth.errors %}
                <div class="error">
                    {% for error in user_form.date_of_birth.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form_group">
            <label for="{{ user_form.email.id_for_label }}">{{ user_form.email.label }}</label>
            {{ user_form.email }}  <!-- Novo campo de e-mail -->
            {% if user_form.email.errors %}
                <div class="error">
                    {% for error in user_form.email.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form_group">
            <label for="{{ user_form.username.id_for_label }}">{{ user_form.username.label }}</label>
            {{ user_form.username }}
            {% if user_form.username.errors %}
                <div class="error">
                    {% for error in user_form.username.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form_group">
            <label for="{{ user_form.password1.id_for_label }}">{{ user_form.password1.label }}</label>
            {{ user_form.password1 }}
            {% if user_form.password1.errors %}
                <div class="error">
                    {% for error in user_form.password1.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form_group">
            <label for="{{ user_form.password2.id_for_label }}">{{ user_form.password2.label }}</label>
            {{ user_form.password2 }}
            {% if user_form.password2.errors %}
                <div class="error">
                    {% for error in user_form.password2.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="buttons-container">
            <button type="submit" class="btn">Cadastrar</button>
        </div>
    </form>
</div>
{% endblock %}
