<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="America/Sao_Paulo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PSQI Project{% endblock %}</title>

    {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'app/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Início</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'test_list' %}">Meus Testes</a></li>
                    <li><a href="{% url 'new_test' %}">Fazer Teste</a></li>
                {% endif %}
            </ul>

            <ul class="right-align">
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% else %}
                    <li>Olá, {{ user.username }}</li>
                    <li><a href="{% url 'logout' %}">Sair</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer style="font-size: 14px;">
        <p>innera</p>
        <p>e-mail: <a href="mailto:suporte@innerahealth.com.br"  style="text-decoration: none; color: white;">suporte@innerahealth.com.br</a></p>
        <p>telefone: <a href="tel:+5511911600808" style="text-decoration: none; color: white;">+55 11 91160-0808</a></p>
        <p>Copyright &copy; 2024 innera - Todos os direitos reservados.</p>
    </footer>
</body>
</html>
