{% extends "base.html" %}
{% load static %}  

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/home.css' %}">
{% endblock %}

{% block content %}
    <section>
        <h1 style="text-align: center;">Bem-vindo ao Sistema de Avaliação PSQI</h1>
        <h2>O que é o PSQI?</h2>
        <p>
            O Pittsburgh Sleep Quality Index (PSQI) é uma ferramenta de avaliação amplamente utilizada para medir a qualidade do sono e identificar distúrbios do sono. 
            Desenvolvido por pesquisadores da Universidade de Pittsburgh, o PSQI avalia aspectos importantes relacionados ao sono, como a duração, a eficiência e a presença de dificuldades.
        </p>

        <h2>Benefícios do Teste PSQI</h2>
        <ul>
            <li><p><strong>Identificação de Problemas de Sono:</strong> O PSQI ajuda a identificar questões relacionadas ao sono, como dificuldade para adormecer, acordar durante a noite e distúrbios respiratórios.</p></li>
            <li><p><strong>Avaliação da Qualidade do Sono:</strong> Fornece uma medida detalhada da qualidade do sono, ajudando profissionais de saúde a entender melhor o padrão de sono de um indivíduo.</p></li>
            <li><p><strong>Base para Intervenção:</strong> Os resultados do PSQI podem orientar as intervenções e tratamentos para melhorar a qualidade do sono e o bem-estar geral.</p></li>
        </ul>
    </section>
    {% if not user.is_authenticated %}
        <div class="button-container">
            Teste a qualidade do seu sono conosco!<br>
            <a href="{% url 'register' %}" class="btn">Cadastre-se</a>
        </div>
    {% endif %}
{% endblock %}
